<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>
<div class="container bootdey">
    <div class="col-md-12">
    <section class="panel">
          <div class="panel-body">
              <div class="col-md-6">
                  <div class="pro-img-details">
                      <img [src]='previewImageUrl || "http://localhost:8080/products/5/image/download"' alt="">
                  </div>
                  <form action="" method="post" enctype="multipart/form-data">
                    <input type="file" accept="image/*" (change)="onFileSelected($event)"> <button [disabled]=" !(imageUpload && productCreated)" (click)="uploadImage()">Upload</button>
                </form>
              </div>
              <div class="col-md-6">
                <form>
                  <h4 class="pro-d-title">
                      <a class="">
                          <input [(ngModel)]="productName" name="productName" class="form-control" placeholder="product Name">
                      </a>
                  </h4>
                  <p>
                    <input [(ngModel)]="productDescription" name="productDescription" class="form-control" placeholder="product Description">
                  </p>
                  <div class="product_meta">
                      <span class="posted_in"> <strong>Categories:</strong>
                        <p *ngFor="let category of categoriesList"  size="4">
                            <input type="checkbox"  (click)="addCategory(category.title)">{{' ' + category.title}}
                        </p></span>
                      <span class="posted_in"> <strong>Composition:</strong> <div><input [(ngModel)]="composition" name="composition" class="form-control" placeholder="product composition"></div></span>
                      <span class="posted_in"> <strong>Indications:</strong> <div><input [(ngModel)]="indications" name="indications" class="form-control" placeholder="product indications"></div></span>
                      <span class="posted_in"> <strong>Manifacturer:</strong> <div><input [(ngModel)]="manifacturer" name="manifacturer" class="form-control" placeholder="product manifacturer"></div></span>
                  </div>
                  <div class="m-bot15"> <strong>Price : </strong><span class="pro-price"><input type="number" [(ngModel)]="price" name="price" class="form-control" placeholder="product price"> р</span></div>

                  <p>
                      <button class="btn btn-round btn-danger" (click)="showProduct()" type="button"><i class="fa fa-shopping-cart"></i>Create product</button>
                  </p>
                </form>
              </div>
          </div>
      </section>
      </div>
</div>
