<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

<div class="container">
    <div class="row">
        <div class="col-md-9">   
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>Username</span></th>
                                <th><span>Role</span></th>
                                <th><span>ID</span></th>
                                <th class="text-center"><span>Fullname</span></th>
                                <th><span>Email</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users | paginate: {
                                itemsPerPage: tableSize,
                                currentPage: page,
                                totalItems: count
                              };
                                let i = index ">
                                <td >
                                    <a href="#" class="user-link">{{user.username}}</a>
                                </td>
                                <td>
                                    <span class="user-subhead">{{user.ROLE}}</span>
                                </td>
                                <td>
                                    {{user.Id}}
                                </td>
                                <td  class="text-center">
                                    {{user.firstname+' '+ user.lastname}}
                                </td>
                                <td>
                                    <a href="#">{{user.email}}</a>
                                </td>
                                <td style="width: 20%;">
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-shopping-bag fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a (click)="deleteUser(user.Id)" class="table-link danger">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="pull-right">
                                        <ul class="pagination pagination-sm pro-page-list">
                                            <pagination-controls
                                            previousLabel="Prev"
                                            nextLabel="Next"
                                            (pageChange)="onTableDataChange($event)"
                                            >
                                            </pagination-controls>
                                        </ul>
                                    </div>
                                </div>
                            </section>
