<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container-xl px-4 mt-4">
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="/profile">Profile</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username</label>
                            <input class="form-control" id="inputUsername" name="username" type="text" readonly placeholder="Enter your username" value="{{user.username}}">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" [(ngModel)]="user.firstname" name="firstname" value="{{user.firstname}}">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" [(ngModel)]="user.lastname" name="lastname" value="{{user.lastname}}">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" [(ngModel)]="user.email" name="email" value="{{user.email}}">
                            <label class="small mb-1" for="inputEmailAddress">Password</label>
                            <input class="form-control" id="inputPasswordAddress" type="password" placeholder="Enter your password"data-toggle="tooltip" data-placement="top" title="At least one upper case English letter 
At least one lower case English letter
At least one digit
At least one special character
Minimum eight in length" [(ngModel)]="user.password" name="password" value="">
                        </div>
                        <button class="btn btn-primary" type="button" (click)="editUser()">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>